body {
    text-align: center;
    font-family: Arial, sans-serif;
}
h1{ 
    padding:15px;
    background-color: #f2f2f2;
    margin-top: 0%;
}

.container{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px;
   gap:20px;

}

.box{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 40px;
    background-color: white;
    cursor: pointer;
    border: 1px solid #e0e0e0;
}